# Ignore editor files
*~*
*#*

# Build directories
*build*

# Latex compiler files
*.pdf*
*.aux*
*.log*
*auto*
*.out*
*.synctex.gz*

# .DS_Store
.DS_Store

# Ignore docs
*doc*

# Ignore binaries and zips
*.byte
*.zip
